<?xml version="1.0"?>
<configuration>
  
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supported Runtimeversion="v4.0"/>
	</startup>

	<connectionStrings>
    <!--<add name="Gestor" connectionString="Data Source=SRV-CONTEL2\SQL2008;Initial Catalog=Museo_Momias_Punto_Venta;User ID=apl_desarrollo;Password=cntldes2010%" providerName="SqlClient"/>-->
    <!--<add name="Gestor" connectionString="Server=localhost;Database=Museo_Momias_Punto_Venta;Uid=apl_desarrollo;Pwd=cntldes2014%;AllowZeroDateTime=True;" providerName="MySqlClient"/>-->
    <add name="Gestor" connectionString="Server=localhost;Database=momias;Uid=root;Pwd=Passw0rd;AllowZeroDateTime=True;AllowUserVariables=True;default command timeout = 120000" providerName="MySqlClient"/>
    <!--<add name="Gestor" connectionString="Server=localhost;Database=museo_momias_punto_venta;Uid=root;Pwd=Passw0rd;AllowZeroDateTime=True;" providerName="MySqlClient"/>-->
    <!--<add name="Gestor" connectionString="Server=localhost;Database=museo_momias_punto_venta;Uid=root;Pwd=cntldes2015%;AllowZeroDateTime=True;" providerName="MySqlClient"/>-->
  </connectionStrings>
</configuration>
