<?xml version="1.0"?><!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
--><configuration><configSections><sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/></sectionGroup></sectionGroup></configSections>
	<appSettings>
		<add key="aspnet:MaxHttpCollectionKeys" value="2097151"></add>
		<add key="Cantidad" value="10"/>
    <add key="Imagen_Encabezado_Pantalla" value="../Imagenes/Encabezado_Contel.png"/>
    <add key="Imagen_Encabezado_Reporte" value="../Imagenes/Encabezado_Contel.png"/>
    <add key="Imagen_Boleto" value="../Imagenes/Momias/Momias_4.jpg"/>
    
	</appSettings>
	<connectionStrings>
		<!--<add name="Gestor" connectionString="Data Source=SRV-CONTEL2\SQL2008;Initial Catalog=Museo_Momias_Punto_Venta;User ID=apl_desarrollo;Password=cntldes2010%" providerName="SqlClient"/>-->
		<!--<add name="Gestor" connectionString="Server=localhost;Database=Museo_Momias_Punto_Venta;Uid=apl_desarrollo;Pwd=cntldes2014%;AllowZeroDateTime=True;" providerName="MySqlClient"/>-->
		<add name="Gestor" connectionString="Server=localhost;Database=momias;Uid=root;Pwd=Passw0rd;AllowZeroDateTime=True;" providerName="MySqlClient"/>
	</connectionStrings>
	<system.web>
		<httpRuntime executionTimeout="4200000" 
                 maxRequestLength="2097151" 
                 maxQueryStringLength = "2097151" 
                 enableHeaderChecking="false" 
                 requestLengthDiskThreshold="2097150" 
                 requireRootedSaveAsPath="false"/>
		<globalization uiCulture="es" culture="es-MX"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
				<add assembly="Oracle.DataAccess, Version=10.2.0.100, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies><buildProviders><add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></buildProviders></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true"/></rptBuildProvider></crystalReports></businessObjects></configuration>